<!--include the templates-->
<head>
    <%- include('partials/head'); %>
</head>

<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<form action="/date" method="POST">
    <!--    form elements below-->
    <div>
        <label for="travelDate">Travel date</label>
    </div>
    <button type="submit">Next</button>
</form>

</body>